<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="move">

    <test name="登录接口">
        <classes>
            <class name="com.cases.LoginCase"></class>
            <parameter name="startSheetIndex" value="1"></parameter>
            <parameter name="sheetNum" value="1"></parameter>
        </classes>
    </test>



</suite>